{{#partial "externalStyle" }}
{{/partial}}

{{#partial "externalBottomScript" }}
{{/partial}}

{{# partial "content" }}
<div ng-controller="loginCtrl">
    <div ng-class="{view:displayMessage, hide:!displayMessage, 'error-message':!success, 'success-message':success}" class="displayMessage">{[{displayMessage}]}</div>
    <md-content layout-padding>
        <div ng-hide="success">
            <form id="loginform" name="loginForm">
                <md-input-container>
                    <label>ID</label>
                    <input required name="userId" ng-model="loginForm.id">
                    <div ng-messages="loginForm.userId.$error">
                        <div ng-message="required">ID를 입력해 주세요</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>비밀번호</label>
                    <input type="password" required name="userPassword" ng-model="loginForm.pw">
                    <div ng-messages="loginForm.userPassword.$error">
                        <div ng-message="required">비밀번호를 입력해 주세요</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary" ng-click="login()">로그인</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>

{{/partial}}

{{> routeDefault}}