{{#partial "externalStyle" }}
{{/partial}}

{{#partial "externalBottomScript" }}
{{/partial}}

{{# partial "content" }}
<md-content layout-padding>
    <h1>Hello World!</h1>
</md-content>
{{/partial}}

{{> routeDefault}}