{{#block "externalStyle" }}{{/block}}
    <md-content layout="column" flex>
        <div layout="column">
            <md-toolbar>
                <h1 class="md-toolbar-tools">
                    {{page-name}}
                </h1>
            </md-toolbar>
            {{#block "content" }}{{/block}}
        </div>
    </md-content>
{{#block "externalBottomScript" }}{{/block}}