<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1" />
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{#if program-name}}{{program-name}}{{else}}Quiz Web App{{/if}}</title>

<link rel="stylesheet" href="css/common/font.googleapis.css">
<link rel="stylesheet" href="./bc/angular-material/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"	/>
<link rel="stylesheet" href="css/animate.css">
<link rel="manifest" href="/manifest.json">

<script src="./bc/jquery/dist/jquery.min.js"></script>