<!DOCTYPE html>
<html ng-app="Quizmaster">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="main">
  
    <ng-view></ng-view>
  
  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
   <script src="javascripts/app.js"></script>
   <script src="javascripts/controllers.js"></script>
   <script src="javascripts/socket.js"></script>
   <script src="javascripts/socket.io.js"></script>
  </body>
</html>
